<p id="notice"><%= notice %></p>

<h1>Listado de medicamentos</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.code %></td>
        <td><%= drug.name %></td>
        <td><%= drug.price %></td>
        <td><%= link_to 'Ver', drug %></td>
        <td><%= link_to 'Editar', edit_drug_path(drug) %></td>
        <td><%= link_to 'Eliminar', drug, method: :delete, data: { confirm: '¿Está seguro que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo medicamento', new_drug_path %>
