<% provide(:title, "Medicamentos") %>
<p>
  <strong>Código:</strong>
  <%= @drug.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @drug.price %>
</p>

<%= link_to 'Editar', edit_drug_path(@drug) %> |
<%= link_to 'Atrás', drugs_path %>
