<% unless @patient.nil? %>
  <h3>Datos del paciente</h3>
  <br>
  <div id="patient_info"> 
    <!-- Cargo los datos del paciente       -->
    <%= render partial: "patients/patient" %>
  </div>
<% else %>
  <label>Cédula del paciente</label>
  <%= form_tag(search_patients_path, method: :get, remote: true, id: "search_patient", class: "form-inline") do %>  
    <div class="form-group"> 
      <%= text_field_tag "cedula_paciente", nil, placeholder: "Número documento", class: 'form-control' %>
    </div>
      <%= submit_tag "Agregar", class: "btn btn-primary" %> <%= link_to "Ver pacientes", lista_modal_paciente_patients_path, remote: true, class: "btn btn-primary" %>  
  <% end %>  
  <br><br>
    <div id="patient_info"> 
    <!-- Cargo los datos del paciente       -->    
    </div>     
<% end %>
<div id="modalPaciente">
      <!-- Cargo la modal  -->
</div>
<br>
<%= form_for(@adverse_event) do |f| %>
  <% if @adverse_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adverse_event.errors.count, "error") %> y el evento adverso no puede ser guardado:</h2>

      <ul>
      <% @adverse_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= f.label :time, "Fecha" %><br>
        <%= f.datetime_select :time, date_separator: "-", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= f.label :reason_admission, "Razón de admisión:" %><br>
        <%= f.text_area :reason_admission, class: "form-control", rows: 3 %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= f.label :description, "Descripción" %><br>
        <%= f.text_area :description, class: "form-control", rows: 3 %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :pregnant %>
        <%= f.label :pregnant, "Embarazada", class: "label-control" %><br>
      </label>      
    </div>    
  </div> 
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= f.label :event_category_id, "Categoría del evento:" %><br>
        <%= collection_select({}, {}, EventCategory.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <%= f.label :event_id, "Evento:" %><br>
        <%= collection_select(:adverse_event, :event_id, Event.where("event_category_id = 1"), :id, :Detail, {}, class: "form-control") %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-lg-5">
    <%= f.label :branch_office_id, "Sucursal:" %><br>
    <%= collection_select(:adverse_event, :branch_office_id, BranchOffice.all, :id, :name, {}, class: "form-control")  %>
      </div>
    </div>
  </div>
  <div>
    <%= f.submit "Guardar", class: "btn btn-primary btn-sm"  %>
  
  <%= f.hidden_field :patient_id %>
<% end %>

