<h1>Lista de eventos adversos</h1>
<br>
<%= link_to 'Nuevo evento adverso', new_adverse_event_path, class: "btn btn-primary btn-sm" %> <%= link_to root_path, class: "btn btn-primary pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha</th> 
        <th>Documento</th> 
        <th>Paciente</th>              
        <th>Embarazada?</th>
        <th>Evento</th>        
        <th>Sucursal</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @adverse_events.each do |adverse_event| %>
        <tr>
          <td><%= fecha adverse_event.time %> <br> <%= hora adverse_event.time %></td> 
          <td><%= adverse_event.patient.document_number %></td>   
          <td><%= adverse_event.patient.name %> <%= adverse_event.patient.lastname %></td>                  
          <td><%= adverse_event.pregnant %></td>
          <td><%= adverse_event.event.Detail %></td>          
          <td><%= adverse_event.branch_office.name %></td>
          <td><%= link_to adverse_event, class: "btn btn-primary btn-sm" do %>
            <i class="fa fa-search"></i>
            <% end %>
          </td>
          <td><%= link_to edit_adverse_event_path(adverse_event), class: "btn btn-info btn-sm" do %>
            <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td><%= link_to adverse_event, method: :delete, data: { confirm: '¿Seguro que desea borrar?' }, class: "btn btn-danger btn-sm" do %>
            <i class="fa fa-trash"></i>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nuevo evento adverso', new_adverse_event_path, class: "btn btn-primary btn-sm" %>