<h1>Detalle de evento adverso</h1>
<br>
<%= link_to 'Atrás', adverse_events_path, class: "btn btn-primary btn-sm" %> <%= link_to root_path, class: "btn btn-primary pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br><br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @adverse_event.patient.document_number %> - <%= @adverse_event.patient.name %> <%= @adverse_event.patient.lastname %></strong>
    <span class="label label-success pull-right"><%= @adverse_event.branch_office.name %></span></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>            
            <th class="text-center">Embarazada</th>
            <th>Categoría del evento</th>
            <th>Evento</th>
            <th colspan="3"></th>
          </tr>          
        </thead>
        <tbody>
          <tr>
            <td><%= fecha @adverse_event.time %> <br> <%= hora @adverse_event.time %></td>            
            <td class="text-center">
              <%= @adverse_event.pregnant ? embarazada : no_embarazada %>             
            </td>
            <td><%= @adverse_event.event.event_category.name %></td>
            <td><%= @adverse_event.event.Detail %></td>
            <td><%= link_to edit_adverse_event_path(@adverse_event), class: "btn btn-info btn-sm" do %>
              <i class="fa fa-pencil"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Razón de admisión</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <td><%= @adverse_event.reason_admission %></td>
          <td><%= @adverse_event.description %></td>
        </tbody>
      </table>
    </div>
  </div>
</div>


<h3>Medicamentos</h3>
<%= link_to new_adverse_event_ae_drug_path(@adverse_event), class: "btn btn-primary btn-sm" do %>
  <i class="fa fa-plus-circle"><span></span>  Agregar Medicamento</i> 
<% end %>  
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Medicamento</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Cargo</th>
        <th>Servicio</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @adverse_event.ae_drugs %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="label label-info">Total:</span></td>
        <td><%= number_to_currency(@adverse_event.ae_drugs.sum(:drug_subtotal), delimiter: ".") %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>



<h3>Procedimientos</h3>
<%= link_to new_adverse_event_ae_procedure_path(@adverse_event), class: "btn btn-primary btn-sm" do %>
  <i class="fa fa-plus-circle"><span></span>  Agregar procedimiento</i>  
<% end %>  
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Tiempo</th>
        <th>Procedimiento</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Cargo</th>  
        <th>Subtotal</th>      
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @adverse_event.ae_procedures %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="label label-info">Total:</span></td>
        <td><%= number_to_currency(@adverse_event.ae_procedures.sum(:procedure_price), delimiter: ".") %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Recursos humanos asistenciales</h3>
<%= link_to new_adverse_event_hum_res_assistance_path(@adverse_event), class: "btn btn-primary btn-sm" do %>
  <i class="fa fa-plus-circle"><span></span>  Agregar Recurso humano asistencial</i>  
<% end %>  
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @adverse_event.hum_res_assistances %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="label label-info">Total:</span></td>
        <td><%= number_to_currency(@adverse_event.hum_res_assistances.sum(:subtotal), delimiter: ".") %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Días de estancia</h3>
<%= link_to new_adverse_event_hospitalization_day_path(@adverse_event), class: "btn btn-primary btn-sm" do %>
  <i class="fa fa-plus-circle"><span></span>  Agregar Día de estancia</i>  
<% end %>  
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @adverse_event.hospitalization_days %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="label label-info">Total:</span></td>
        <td><%= number_to_currency(@adverse_event.hospitalization_days.sum(:subtotal), delimiter: ".") %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<%= link_to 'Atrás', adverse_events_path, class: "btn btn-primary btn-sm" %> <%= link_to root_path, class: "btn btn-primary btn-sm pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br><br>