<%= form_for([@adverse_event,@ae_drug]) do |f| %>
  <% if @ae_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ae_drug.errors.count, "error") %> prohibited this ae_drug from being saved:</h2>

      <ul>
      <% @ae_drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug_price, "Precio" %><br>
    <%= f.text_field :drug_price %>
  </div>
  <div class="field">
    <%= f.label :drug_subtotal, "Subtotal" %><br>
    <%= f.text_field :drug_subtotal %>
  </div>
  <div class="field">
    <%= f.label :drug_time, "Fecha" %><br>
    <%= f.datetime_select :drug_time %>
  </div>
  <div class="field">
    <%= f.label :qty, "Cantidad" %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :adverse_event_id, "Evento adverso" %><br>
    <%= f.text_field :adverse_event_id %>
  </div>
  <div class="field">
    <%= f.label :drug_id, "Medicamento" %><br>
    <%= f.text_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :service_id, "Servicio" %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :charge_id, "Cargo" %><br>
    <%= f.text_field :charge_id %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
