<h4><span class="label label-success"><%= @adverse_event.patient.document_number %> <%= @adverse_event.patient.name %> <%= @adverse_event.patient.lastname %></span></h4>
<%= form_for([@adverse_event,@ae_drug]) do |f| %>
  <% if @ae_drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ae_drug.errors.count, "error") %> y el medicamento suministrado no puede ser guardado:</h2>

      <ul>
      <% @ae_drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :drug_time, "Fecha" %><br>
        <%= f.datetime_select :drug_time, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :drug_id, "Medicamento" %><br>
        <%= collection_select(:ae_drug, :drug_id, Drug.all, :id, :name, {}, class: "form-control") %>
        <%= link_to "Buscar", "#", data: { toggle: "modal", target: "#modalMedicamentos" }, class: "btn btn-primary btn-sm" %>        
      </div>   
      <div>
        
      </div>   
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-1 col-lg-1">
        <%= f.label :qty, "Cantidad" %><br>
        <%= f.number_field :qty, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <%= f.label :drug_price, "Precio" %><br>
        <%= f.text_field :drug_price, class: "form-control" %>
      </div>
    </div>    
  </div> 
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :service_id, "Servicio" %><br>
        <%= collection_select(:ae_drug, :service_id, Service.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>    
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :charge_id, "Cargo" %><br>
        <%= collection_select(:ae_drug, :charge_id, Charge.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>    
  </div>  
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-sm" %>
  
  <%= f.hidden_field :adverse_event_id %>
<% end %>


