<p id="notice"><%= notice %></p>

<h1>Listing Ae Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Drug price</th>
      <th>Drug subtotal</th>
      <th>Drug time</th>
      <th>Qty</th>
      <th>Adverse event</th>
      <th>Drug</th>
      <th>Service</th>
      <th>Charge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ae_drugs.each do |ae_drug| %>
      <tr>
        <td><%= ae_drug.drug_price %></td>
        <td><%= ae_drug.drug_subtotal %></td>
        <td><%= ae_drug.drug_time %></td>
        <td><%= ae_drug.qty %></td>
        <td><%= ae_drug.adverse_event %></td>
        <td><%= ae_drug.drug %></td>
        <td><%= ae_drug.service %></td>
        <td><%= ae_drug.charge %></td>
        <td><%# link_to 'Show', ae_drug %></td>
        <td><%# link_to 'Edit', edit_ae_drug_path(ae_drug) %></td>
        <td><%= link_to 'Destroy', ae_drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ae drug', new_ae_drug_path %>
