<h1>Listado de medicamentos</h1>

<table>
  <thead>
    <tr>
      <th>Precio</th>
      <th>Subtotal</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Evento adverso</th>
      <th>Medicamento</th>
      <th>Servicio</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ae_drugs.each do |ae_drug| %>
      <tr>
        <td><%= ae_drug.drug_price %></td>
        <td><%= ae_drug.drug_subtotal %></td>
        <td><%= ae_drug.drug_time %></td>
        <td><%= ae_drug.qty %></td>
        <td><%= ae_drug.adverse_event %></td>
        <td><%= ae_drug.drug %></td>
        <td><%= ae_drug.service %></td>
        <td><%= ae_drug.charge %></td>
        <td><%# link_to 'Ver', ae_drug %></td>
        <td><%# link_to 'Editar', edit_ae_drug_path(ae_drug) %></td>
        <td><%= link_to 'Eliminar', ae_drug, method: :delete, data: { confirm: '¿Está seguro(a) que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo medicamento', new_ae_drug_path %>
