<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @ae_drug.drug_price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @ae_drug.drug_subtotal %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ae_drug.drug_time %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ae_drug.qty %>
</p>

<p>
  <strong>Evento adverso:</strong>
  <%= @ae_drug.adverse_event %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @ae_drug.drug %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @ae_drug.service_id %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @ae_drug.charge %>
</p>

<%= link_to 'Editar', edit_adverse_event_ae_drug_path(@ae_drug.adverse_event,@ae_drug) %> |
<%= link_to 'Atrás', adverse_event_path(@adverse_event) %>
