<h4><span class="label label-success"><%= @adverse_event.patient.document_number %> <%= @adverse_event.patient.name %> <%= @adverse_event.patient.lastname %></span></h4>
<%= form_for([@adverse_event,@ae_procedure]) do |f| %>
  <% if @ae_procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ae_procedure.errors.count, "error") %> y el procedimiento realizado no puede ser guardado:</h2>

      <ul>
      <% @ae_procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :procedure_time, "Fecha" %><br>
        <%= f.datetime_select :procedure_time, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-7 col-lg-7">
        <%= f.label :procedure_id, "Procedimiento" %><br>
        <%= collection_select(:ae_procedure, :procedure_id, Procedure.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <%= f.label :procedure_price, "Precio" %><br>
        <%= f.text_field :procedure_price, class: "form-control" %>
      </div>
    </div>    
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :service_id, "Servicio" %><br>
        <%= collection_select(:ae_procedure, :service_id, Service.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>    
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :charge_id, "Cargo" %><br>
        <%= collection_select(:ae_procedure, :charge_id, Charge.all, :id, :name, {}, class: "form-control") %>
      </div>
    </div>    
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-sm" %>
  
  <%= f.hidden_field :adverse_event_id %>
  <!-- <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :procedure_subtotal, "Subtotal" %><br>
    <%= f.text_field :procedure_subtotal %>
      </div>
    </div>    
  </div> -->
<% end %>
