<p id="notice"><%= notice %></p>

<h1>Listing Ae Procedures</h1>

<table>
  <thead>
    <tr>
      <th>Procedure price</th>
      <th>Procedure subtotal</th>
      <th>Procedure time</th>
      <th>Procedure</th>
      <th>Service</th>
      <th>Adverse event</th>
      <th>Charge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ae_procedures.each do |ae_procedure| %>
      <tr>
        <td><%= ae_procedure.procedure_price %></td>
        <td><%= ae_procedure.procedure_subtotal %></td>
        <td><%= ae_procedure.procedure_time %></td>
        <td><%= ae_procedure.procedure %></td>
        <td><%= ae_procedure.service %></td>
        <td><%= ae_procedure.adverse_event %></td>
        <td><%= ae_procedure.charge %></td>
        <td><%# link_to 'Show', ae_procedure %></td>
        <td><%# link_to 'Edit', edit_ae_procedure_path(ae_procedure) %></td>
        <td><%= link_to 'Destroy', ae_procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ae procedure', new_adverse_event_ae_procedure_path(@adverse_event) %>
