<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @ae_procedure.procedure_price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @ae_procedure.procedure_subtotal %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ae_procedure.procedure_time %>
</p>

<p>
  <strong>Procedimiento:</strong>
  <%= @ae_procedure.procedure %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @ae_procedure.service.name %>
</p>

<p>
  <strong>Evento adverso:</strong>
  <%= @ae_procedure.adverse_event %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @ae_procedure.charge.name %>
</p>

<%= link_to 'Editar', edit_adverse_event_ae_procedure_path(@ae_procedure.adverse_event,@ae_procedure) %>