<p id="notice"><%= notice %></p>

<p>
  <strong>Procedure price:</strong>
  <%= @ae_procedure.procedure_price %>
</p>

<p>
  <strong>Procedure subtotal:</strong>
  <%= @ae_procedure.procedure_subtotal %>
</p>

<p>
  <strong>Procedure time:</strong>
  <%= @ae_procedure.procedure_time %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @ae_procedure.procedure %>
</p>

<p>
  <strong>Service:</strong>
  <%= @ae_procedure.service %>
</p>

<p>
  <strong>Adverse event:</strong>
  <%= @ae_procedure.adverse_event %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @ae_procedure.charge %>
</p>

<%= link_to 'Edit', edit_adverse_event_ae_procedure_path(@ae_procedure.adverse_event,@ae_procedure) %>