<p id="notice"><%= notice %></p>

<h1>Lista de recursos humanos asistenciales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Subtotal</th>
      <th>Evento adverso</th>
      <th>Servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hum_res_assistances.each do |hum_res_assistance| %>
      <tr>
        <td><%= hum_res_assistance.name %></td>
        <td><%= hum_res_assistance.qty %></td>
        <td><%= hum_res_assistance.price %></td>
        <td><%= hum_res_assistance.time %></td>
        <td><%= hum_res_assistance.subtotal %></td>
        <td><%= hum_res_assistance.adverse_event %></td>
        <td><%= hum_res_assistance.service %></td>
        <td><%# link_to 'Ver', adverse_event(@adverse_event) %></td>
        <td><%# link_to 'Editar', edit_adverse_event_hum_res_assistance_path(hum_res_assistance.adverse_event,hum_res_assistance) %></td>
        <td><%= link_to 'Eliminar', hum_res_assistance, method: :delete, data: { confirm: '¿Está seguro(a) que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear recurso humano asistencial', new_adverse_event_hum_res_assistance_path(@adverse_event) %>
