
      <tr>
        <td><%= fecha hospitalization_day.date %></td>
        <td><%= hospitalization_day.qty %></td>
        <td><%= number_to_currency(hospitalization_day.price, delimiter: ".") %></td>
        <td><%= hospitalization_day.service.name %></td>
        <td><%= number_to_currency(hospitalization_day.subtotal, delimiter: ".") %></td>
        <td><%= link_to edit_adverse_event_hospitalization_day_path(hospitalization_day.adverse_event,hospitalization_day), class: "btn btn-info btn-sm pull-right" do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        </td>        
      </tr>
    