<p id="notice"><%= notice %></p>

<h1>Lista de días de estancia</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Subtotal</th>
      <th>Fecha</th>
      <th>Evento adverso</th>
      <th>Servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitalization_days.each do |hospitalization_day| %>
      <tr>
        <td><%= hospitalization_day.qty %></td>
        <td><%= hospitalization_day.price %></td>
        <td><%= hospitalization_day.subtotal %></td>
        <td><%= hospitalization_day.date %></td>
        <td><%= hospitalization_day.adverse_event %></td>
        <td><%= hospitalization_day.service %></td>
        <td><%# link_to 'Ver', hospitalization_day %></td>
        <td><%# link_to 'Editar', edit_hospitalization_day_path(hospitalization_day) %></td>
        <td><%= link_to 'Eliminar', hospitalization_day, method: :delete, data: { confirm: '¿Está seguro(a) que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear día de estancia', new_adverse_event_hospitalization_day_path(@adverse_event) %>
