<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @hospitalization_day.qty %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @hospitalization_day.price %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @hospitalization_day.subtotal %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @hospitalization_day.date %>
</p>

<p>
  <strong>Evento adverso:</strong>
  <%= @hospitalization_day.adverse_event %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @hospitalization_day.service %>
</p>

<%= link_to 'Editar', edit_adverse_event_hospitalization_day_path(@hospitalization_day.adverse_event,@hospitalization_day) %> |
<%= link_to 'Atrás', adverse_event_path(@adverse_event) %>
