<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @event.Detail %>
</p>

<p>
  <strong>Event category:</strong>
  <%= @event.event_category %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
