<p id="notice"><%= notice %></p>

<p>
  <strong>Detalle:</strong>
  <%= @event.Detail %>
</p>

<p>
  <strong>Categoría evento:</strong>
  <%= @event.event_category %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Atrás', events_path %>
