<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= f.label :document_type, "Tipo de documento" %><br>
        <%= f.select :document_type,  options_for_select([['NN', 'NN'], ['Cédula', 'Cédula'], ['Tarjeta identidad', 'Tarjeta identidad'], ['Pasaporte', 'Pasaporte'], ['NUIP', 'NUIP']], @patient.document_type), {},class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group"> 
    <div class="row">
       <div class="col-sm-3 col-md-3 col-lg-3">
          <%= f.label :document_number, "Número de documento" %><br>
          <%= f.text_field :document_number, class: "form-control" %>
       </div>
     </div>         
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= f.label :name, "Nombres" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= f.label :lastname, "Apellidos" %><br>
        <%= f.text_field :lastname, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <%= f.label :age, "Edad" %><br>
        <%= f.number_field :age, class: "form-control" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <%= f.label :gender, "Género" %><br>
        <%= f.select :gender,  options_for_select([['Masculino', 'Masculino'], ['Femenino', 'Femenino']], @patient.gender), {}, class: "form-control" %> 
      </div>
    </div>    
  </div>
  <div>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
