<div id="patient_info"> 
  <div class="table-responsive">
    <table class="table table-striped">      
      <tbody>    
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Tipo de documento:</strong>
          </td>
          <td><%= @patient.document_type %></td>      
        </tr>
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Número de documento:</strong>
          </td>
          <td><%= @patient.document_number %></td>      
        </tr>
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Nombres:</strong>
          </td>
          <td><%= @patient.name %></td>      
        </tr>
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Apellidos:</strong>
          </td>
          <td><%= @patient.lastname %></td>      
        </tr>
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Edad:</strong>
          </td>
          <td><%= @patient.age %></td>      
        </tr>
        <tr>
          <td>
            <i class="arrow right icon"></i> <strong>Género:</strong>
          </td>
          <td><%= @patient.gender %></td>      
        </tr>
      </tbody>
    </table>
  </div>
</div>