<p id="notice"><%= notice %></p>

<h1>Lista de pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de documento</th>
      <th>Número de documento</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Edad</th>
      <th>Género</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.document_type %></td>
        <td><%= patient.document_number %></td>
        <td><%= patient.name %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.age %></td>
        <td><%= patient.gender %></td>
        <td><%= link_to 'Ver', patient %></td>
        <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
        <td><%= link_to 'Eliminar', patient, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear paciente', new_patient_path %>
