<h1>Datos del paciente</h1>
<br>
<%= link_to 'Atrás', patients_path, class: "btn btn-primary btn-sm" %> <%= link_to 'Crear evento adverso', new_adverse_event_path(patient_id: @patient.id), class: "btn btn-info btn-sm" %> <%= link_to root_path, class: "btn btn-primary pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo de documento</th>
        <th>Número de documento</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Género</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @patient.document_type %></td>
        <td><%= @patient.document_number %></td>
        <td><%= @patient.name %></td>
        <td><%= @patient.lastname %></td>
        <td><%= @patient.age %></td>
        <td><%= @patient.gender %></td>
        <td><%= link_to edit_patient_path(@patient), class: "btn btn-info btn-sm" do%>
              <i class="fa fa-pencil"></i>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h1>Lista de eventos adversos</h1>
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fecha</th> 
        <th>Documento</th> 
        <th>Nombre</th>              
        <th>Embarazada</th>
        <th>Evento</th>        
        <th>Sucursal</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>      
    <%= render @patient.adverse_events %>
    </tbody>
  </table>
</div>

<%= link_to 'Atrás', patients_path, class: "btn btn-primary btn-sm" %>
<br>
<br>