<%= form_for(@branch_office) do |f| %>
  <% if @branch_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branch_office.errors.count, "error") %> prohibited this branch_office from being saved:</h2>

      <ul>
      <% @branch_office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city, "Ciudad" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
