<p id="notice"><%= notice %></p>

<h1>Listing Branch Offices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_offices.each do |branch_office| %>
      <tr>
        <td><%= branch_office.name %></td>
        <td><%= branch_office.city %></td>
        <td><%= link_to 'Show', branch_office %></td>
        <td><%= link_to 'Edit', edit_branch_office_path(branch_office) %></td>
        <td><%= link_to 'Destroy', branch_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch office', new_branch_office_path %>
