<% provide(:title, "Sedes") %>
<h1>Lista de sucursales</h1>
<br>
<%= link_to 'Crear sucursal', new_branch_office_path, class: "btn btn-primary" %> <%= link_to root_path, class: "btn btn-primary pull-right"  do%>
  <i class="fa fa-home"></i>
<% end %>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @branch_offices.each do |branch_office| %>
        <tr>
          <td><%= branch_office.name %></td>
          <td><%= branch_office.city %></td>
          <td class="pull-right"><%= link_to edit_branch_office_path(branch_office), class: "btn btn-info btn-sm" do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            <%= link_to branch_office, method: :delete, data: { confirm: '¿Está seguro(a) que quiere eliminar?' }, class: "btn btn-danger btn-sm" do %>
                <i class="fa fa-trash"></i>
              <% end %>
          </td>         
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Crear sucursal', new_branch_office_path, class: "btn btn-primary" %>
