<p id="notice"><%= notice %></p>

<h1>Lista de sucursales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_offices.each do |branch_office| %>
      <tr>
        <td><%= branch_office.name %></td>
        <td><%= branch_office.city %></td>
        <td><%= link_to 'Ver', branch_office %></td>
        <td><%= link_to 'Editar', edit_branch_office_path(branch_office) %></td>
        <td><%= link_to 'Eliminar', branch_office, method: :delete, data: { confirm: '¿Está seguro que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear sucursal', new_branch_office_path %>
