<%= form_for(@procedure) do |f| %>
  <% if @procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure.errors.count, "error") %> y el procedimiento no puede ser guardado:</h2>

      <ul>
      <% @procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <%= f.label :code, "Código" %><br>
        <%= f.text_field :code, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <%= f.label :name, "Nombre" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>  
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-sm" %>
  
<% end %>
