<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @procedure.name %>
</p>

<p>
  <strong>Código:</strong>
  <%= @procedure.code %>
</p>

<%= link_to 'Editar', edit_procedure_path(@procedure) %> |
<%= link_to 'Atrás', procedures_path %>
