<p id="notice"><%= notice %></p>

<h1>Lista de cargos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charges.each do |charge| %>
      <tr>
        <td><%= charge.name %></td>
        <td><%= link_to 'Ver', charge %></td>
        <td><%= link_to 'Editar', edit_charge_path(charge) %></td>
        <td><%= link_to 'Eliminar', charge, method: :delete, data: { confirm: '¿Está seguro que quiere eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear cargo', new_charge_path %>
